.dashboard-wrapper {
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.main-info {
    padding: 0px 50px;
}

/* .dashboard-wrapper{
    display: flex;
}


.main-info{
    width: calc(100% - 300px);
}

.main{
    padding: 30px 250px;
    width: 100%;
} */