.sidebar{
    background: rgb(252,252,252);
    /* width: 300px;
    max-width: 300px; */
    height: 100vh;
}

.sidebar ul{
    padding: 0 15px;
}

.sidebar ul li{
    margin: 10px 0;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(235,235,235);
    border-radius: 3px;
    cursor: pointer;
}

.sidebar ul li a, .sidebar ul li span{
    color: rgb(55, 55, 55);
    font-size: 18px;
    font-weight: 700;
}

.sidebar ul li:hover{
    background: rgb(231,231,231);
}


@media screen and (max-width: 1400px) {
    .sidebar{
         width: 200px;
    }
}

@media screen and (max-width: 992px) {
    .sidebar{
         width: 60px;
    }
   
}