footer{
    background: rgb(5,17,26);
}

footer a{
    color: whitesmoke;
}

footer h1, footer p{
    color: whitesmoke;
}

.post-footer img{
    width: 90px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.post-footer .post-footer-name{
    font-style: 12px;
    color: rgb(185, 185, 185);
}

.footer-desc p,.footer-address p, .footer-phone p{
    color: rgb(200, 200, 200);
}