footer {
    background: rgb(5, 17, 26);
}


footer h1, footer p, footer a {
    color: whitesmoke;
}

.footer-post img {
    width: 90px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.footer-post .footer-post-name {
    font-size: 12px;
    color: rgb(185, 185, 185);
}

.footer-desc p, .footer-address address, .footer-phone address {
    color: rgb(200, 200, 200);
}