.left-side-top {
    position: relative;
}

.left-side-top img {
    border-radius: 5px;
    height: 215px;
    width: 100%;
    object-fit: cover;
}

.post-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.post-info .post-cat {
    background: rgb(43, 88, 194);
    display: inline;
    padding: 3px 5px ;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.post-info .post-title {
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}

.post-info .post-date {
    font-size: 17px;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: calc(100% - 6px);
    border-radius: 5px;
}