*{
     text-decoration: none !important;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

a {
     color: rgb(36, 36, 36);
}

body {
     background: whitesmoke !important;  
  }
  
  .container {
       padding: 0 50px;
  }

  .has-background-danger {
     background: #6F0000 !important;
}


@media screen and (max-width: 600px) {
     .container {
          padding: 0 8px;
     }
     
}