.hero {
    background: url("../../assets/images/background-login.webp");
}


.background-overlay{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}